.subscribe-button{
  border-radius: 50px;
padding: 10px;
width: 115px;
border: none;
background-color: black;
color: white;
font-weight: bold;
cursor: pointer;
margin-bottom: 30px;

}
.is-subscribe{
  background-color: rgb(240, 240, 240);;
  color: black;
}
body{
  font-family: arial;
}
.cost-input{
  font-size: 15px;
  padding: 10px;
}
.calculate-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;

}